# General configuration
region          = "ap-southeast-2"
owner           = "admin@example.com"
ttl             = 48
deployment_name = "dev"

# Networking configuration
aws_vpc_cidr        = "10.200.0.0/16"
aws_public_subnets  = ["10.200.10.0/24"]
aws_private_subnets = ["10.200.20.0/24"]

# Feature flags
enable_vpc         = true
enable_http_access = true
enable_ssh_access  = true
enable_tgw         = false
enable_ssm         = true

# SSH configuration
aws_key_pair_key_name = "my-key"
ssh_pubkey            = "ssh-rsa AAAAB3NzaC1yc2EAAA... example@localhost"

# Workspace configuration
workspace_type = "landingZone"